.place__paragraph {
  margin: 25px 0 0 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
}
.place__paragraph:first-of-type {
  margin: 0 0 0 0;
}
